*{
  font-size: calc(10px + 2vw);
}

.App {
  text-align: center;
}


li{
  list-style: none;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}
